.margin10 {
    margin-left: 10px;
}

// Admin - cyan #17a2b8, Teacher - green #4dbd74, Parent - #2176b7, other - red #f86c6b

.role-card {
  cursor: pointer;
}

.blue-role{
  background-color: #17a2b8;
}
.green-role{
  background-color: #4dbd74;
}
.voilet-role{
  background-color: #2176b7;
}
.red-role{
  background-color: #f86c6b;
}
