@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700&display=swap');
.bannerText {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    h3 {
        color: white;
        margin: 0;
        z-index: 1;
        font-family: 'Muli', sans-serif;
        font-size: 21px;
        @media (max-width: 575px) {
            font-size: 16px
        }
    }
}

.nb-box {
    border: 1px solid #c8ced3;
    border-radius: 4px;
    overflow: hidden;
}

::ng-deep .carousel {
    height: 470px;
    @media (max-width: 1199px) {
        height: 350px;
    }
    @media (max-width: 575px) {
        height: 200px
    }
    .carousel-inner {
        width: 100%;
        height: 100%;
        .carousel-item {
            position: relative;
            width: 100%;
            height: 100%;
            .item {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    cursor: pointer;
                }
                .bannerText {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    h3 {
                        color: white;
                        margin: 0;
                        z-index: 1;
                        font-family: 'Muli', sans-serif;
                        font-size: 21px;
                        @media (max-width: 575px) {
                            font-size: 16px
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -60px;
                        left: 0;
                        right: 0;
                        box-shadow: 0px -40px 50px 20px #000;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                }
            }
        }
    }
    .carousel-indicators {
        margin: 0 0 16px 0;
        right: 15px;
        left: auto;
        li {
            width: 10px;
            height: 5px;
            border-radius: 2.5px;
            transition: 0.5s all ease-in-out;
            border: none;
            background: white;
            opacity: 1;
            &.active {
                transition: 0.5s all ease-in-out;
                background: #2176b7;
                width: 30px;
                height: 5px;
                border: none;
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: calc(50% - 25px);
        width: 50px;
        height: 50px;
        background: #2176b7;
        border-radius: 100%;
        @media (max-width: 575px) {
            width: 30px;
            height: 30px;
        }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        @media (max-width: 575px) {
            background-size: 10px
        }
    }
    .carousel-control-next {
        right: 20px;
    }
    .carousel-control-prev {
        left: 20px;
    }
}

.dashboard-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .d-cards {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #2176b7;
        border-radius: 5px;
        width: calc(31% - 16px);
        // max-width: 31%;
        margin-top: 15px;
        margin-right: 16px;
        cursor: pointer;
        @media (max-width: 767px) {
            width: calc(29% - 16px);
        }
        @media (max-width: 575px) {
            width: calc(50% - 16px);
        }
        &:hover {
            .card-image {
                img {
                    transform: scale(1.1);
                    transition: 0.3s all ease-in-out;
                }
            }
        }
        .card-image {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 20px 0;
            img {
                width: 60px;
                transition: 0.3s all ease-in-out;
                @media (max-width: 575px) {
                    width: 50px;
                }
            }
        }
        .card-text {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: #2176b7;
            p {
                color: white;
                margin: 0;
                font-size: 16px;
                padding: 5px 0;
                @media (max-width: 575px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.logged-in-details {
  border: 2px solid #2176b7;
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  padding: 8px 12px;
  background-color: rgba(33,118,183,0.1);

  p {
    margin-bottom: 0;
    color: #2176b7;
    font-weight: bold;
    @media (max-width: 767px){
      font-size: 14px;
    }
  }
}
